:root {
    --font-color: #112d4e;
    --font-color-used: #112d4e55;
    --primary-color: #4f82bf;
    --secondary-color: #dbe2ef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: red;
    height: 80vh;
    font-family: monospace;
    color: var(--font-color);
    background-color: #f9f7f7;
}

#root {
    display: flex;
    justify-content: center;
}

.app {
    width: 1536px;
    position: relative;
    font-size: 2rem;
}

.main {
    width: 100%;
    padding: 30px;
    background-color: var(--secondary-color);
    margin-top: 5%;
    height: 100%;
    border-radius: 10px;
}

.game {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr 3fr 2fr / 60% 40%;
    grid-template-areas:
        "keys draw"
        "keys draw"
        "word draw";
    gap: 20px;
}

.header {
    display: flex;
    border-bottom: 2px solid var(--font-color);
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4dvw;
    background-color: var(--primary-color);
}

.header button {
    width: 10%;
    height: 80%;
}

.end {
    padding-bottom: 50px;
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 20%;
    color: tomato;
    z-index: 1;
    background-color: #3f72af88;
    border: #3f72af solid 2px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    user-select: none;
}

.keyboard {
    height: 80%;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(6, 1fr);
    grid-area: keys;
    gap: 10px;
    /* justify-items: center;
    align-items: center; */
}

.after-click {
    color: var(--font-color-used);
    border: 1px solid var(--font-color-used);
    cursor: auto;
}
.after-click:hover {
    background-color: var(--secondary-color);
}

.word {
    grid-area: word;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.letter {
    margin-inline: 10px;
    font-size: 1.2rem;
}

.underline {
    background-color: #333;
    width: 100%;
    height: 10px;
}

.draw {
    grid-area: draw;
    display: flex;
    justify-content: center;
    .DrawContainer {
        min-width: 300px;
        height: 400px;
        position: relative;
    }

    .DrawContainer > div {
        position: absolute;
        background-color: var(--font-color);
        height: 100px;
        width: 100px;
    }

    #d1 {
        height: 7px;
        bottom: 30px;
        left: 10px;
    }

    #d2 {
        width: 7px;
        height: 340px;
        bottom: 30px;
        left: 55px;
    }

    #d3 {
        width: 150px;
        height: 7px;
        top: 30px;
        left: 55px;
    }

    #d4 {
        width: 7px;
        height: 80px;
        top: 30px;
        right: 95px;
    }
    #d5 {
        width: 50px;
        height: 50px;
        background-color: transparent;
        border-radius: 100%;
        border: 5px solid var(--font-color);
        box-sizing: border-box;
        top: 110px;
        right: 73px;
    }

    #d6 {
        width: 7px;
        height: 115px;
        top: 155px;
        right: 95px;
    }

    #d7 {
        width: 7px;
        height: 60px;
        top: 150px;
        right: 115px;
        transform: rotate(45deg);
    }

    #d8 {
        width: 7px;
        height: 60px;
        top: 150px;
        right: 75px;
        transform: rotate(-45deg);
    }

    #d9 {
        width: 7px;
        height: 60px;
        top: 255px;
        right: 115px;
        transform: rotate(45deg);
    }

    #d10 {
        width: 7px;
        height: 60px;
        top: 255px;
        right: 75px;
        transform: rotate(-45deg);
    }
}

.hide {
    visibility: hidden;
}

.score {
    outline: 2px solid var(--font-color);
    border-radius: 5px;
    outline-offset: 2px;
    height: 80%;
}

.loader {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

button {
    font: inherit;
    color: var(--font-color);
    font-family: inherit;
    background-color: var(--secondary-color);
    border: 1px solid var(--font-color);
    cursor: pointer;
    border-radius: 0.8rem;
}
button:hover {
    background-color: #b3c3e1;
}

/* 2xl */
@media (width < 1536px) {
    .app {
        max-width: 1280px;
        font-size: 1.8rem;
    }
}

/* xl */
@media (width < 1280px) {
    .app {
        max-width: 1024px;
        font-size: 1.6rem;
    }
}

/* lg */
@media (width < 1024px) {
    .app {
        max-width: 768px;
        font-size: 1.2rem;
    }
}

/* md */
@media (width < 768px) {
    .app {
        max-width: 640px;
        font-size: 1rem;
    }
    .game {
        display: flex;
        flex-direction: column;
    }
    .draw {
        order: -1;
    }
    .keyboard {
        gap: 3px;
    }
}

/* sm */
@media (width < 640px) {
    .app {
        max-width: 475px;
        font-size: 0.7rem;
    }
}

/* xs */
@media (width < 475px) {
    .app {
        width: 100%;
        font-size: 0.5rem;
    }
}
